apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./metallb
  - ./bitwarden-cli
  - ../base/nginx-ingress
  - ../base/metrics-server
  - cert-manager.yaml
  - ./openebs-mayastor
  - ./nfs-subdir-external
  - ./k8up
  - ./nfs-pv
  - ./pod-reaper
  # - ./rook-ceph
  # - local-path-provisioner.yaml
  # - ./openebs-jiva
