# https://github.com/blampe/rreading-glasses using a third party metadata provider
apiVersion: apps/v1
kind: Deployment
metadata:
  name: readarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: readarr
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: readarr
    spec:
      containers:
        - env:
            - name: PGID
              value: "100"
            - name: PUID
              value: "99"
            - name: TZ
              value: Etc/UTC
          image: linuxserver/radarr:latest
          name: readarr
          ports:
            - containerPort: 8787
              protocol: TCP
          volumeMounts:
            - mountPath: /config
              name: readarr-config
            - mountPath: /data
              name: readarr-media
          livenessProbe:
            exec:
              command:
              - ls
              - /data/
            initialDelaySeconds: 10
            periodSeconds: 7200
            failureThreshold: 1
            timeoutSeconds: 5
      restartPolicy: Always
      volumes:
        - name: readarr-config
          persistentVolumeClaim:
            claimName: readarr-config
        - name: readarr-media
          persistentVolumeClaim:
            claimName: media-pvc
