apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./pihole
  - ./prometheus
  - ./grafana
  - ./homebridge
  - ./prowler
  - ./external-ingress
  - ./maintainerr
  - ./unpackerr
  - ./calibre-web
  - ./speakarr # currently broken due to hotio.dev/containers/readarr being deleted.
  - ./readarr  # currently broken
  - ./nebula-sync
