apiVersion: apps/v1
kind: Deployment
metadata:
  name: calibre-web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: calibre-web
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: calibre-web
    spec:
      containers:
        - env:
            - name: PGID
              value: "1000"
            - name: PUID
              value: "1000"
            - name: TZ
              value: Etc/UTC
            - name: DOCKER_MODS
              value: linuxserver/mods:universal-calibre
              # https://github.com/linuxserver/docker-calibre-web/releases
              # https://github.com/janeczku/calibre-web/releases
          image: lscr.io/linuxserver/calibre-web:latest@sha256:3061c9dec505679c4463466583f8f8c90a3688f8d4c3ccd2ffc50aeab5493b29
          name: calibre-web
          ports:
            - containerPort: 8083
              protocol: TCP
          volumeMounts:
            - mountPath: /config
              name: calibre-web-config
            - mountPath: /books
              name: calibre-web-books
      restartPolicy: Always
      volumes:
        - name: calibre-web-config
          persistentVolumeClaim:
            claimName: calibre-web-config
        - name: calibre-web-books
          persistentVolumeClaim:
            claimName: calibre-web-books
