apiVersion: apps/v1
kind: Deployment
metadata:
  name: calibre-web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: calibre-web
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: calibre-web
    spec:
      containers:
        - env:
            - name: PGID
              value: "1000"
            - name: PUID
              value: "1000"
            - name: TZ
              value: Etc/UTC
            - name: DOCKER_MODS
              value: linuxserver/mods:universal-calibre
              # https://github.com/linuxserver/docker-calibre-web/releases
              # https://github.com/janeczku/calibre-web/releases
          image: lscr.io/linuxserver/calibre-web:latest@sha256:af0f715c498db314137a278d6184df95a074a66a26a87365b8e02786fc5ed815
          name: calibre-web
          ports:
            - containerPort: 8083
              protocol: TCP
          volumeMounts:
            - mountPath: /config
              name: calibre-web-config
            - mountPath: /books
              name: calibre-web-books
      restartPolicy: Always
      volumes:
        - name: calibre-web-config
          persistentVolumeClaim:
            claimName: calibre-web-config
        - name: calibre-web-books
          persistentVolumeClaim:
            claimName: calibre-web-books
