apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base/pihole
  - external-secrets.yaml
patches:
  - path: pihole-values.yaml
    target:
      kind: HelmRelease
      name: pihole
