apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.34.0 (HEAD)
  labels:
    io.kompose.service:  nebula-sync
  name:  nebula-sync
spec:
  selector:
    matchLabels:
      io.kompose.service:  nebula-sync
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert
        kompose.version: 1.34.0 (HEAD)
      labels:
        io.kompose.service:  nebula-sync
    spec:
      containers:
        - env:
            - name: FULL_SYNC
              value: "false"
            - name: "TZ"
              value: America/Toronto
            - name: SYNC_CONFIG_DNS
              value: "true"
            - name: SYNC_CONFIG_DNS_EXCLUDE
              value: "upstreams"
            - name: SYNC_GRAVITY_AD_LIST
              value: "true"
            - name: CRON
              value: "0 * * * *"
            - name: PRIMARY
              valueFrom:
                secretKeyRef:
                  name: pihole-unraid-external
                  key: password
            - name: REPLICAS
              valueFrom:
                secretKeyRef:
                  name: pihole-k8s-external
                  key: password
          name:  nebula-sync
          image: ghcr.io/lovelaze/nebula-sync:v0.11.1
